{% extends 'base.html' %}

{% block content %}

    <h3 text-align: center>Projects</h3>
    <i class="fa-brands fa-github fa-beat" style="--fa-animation-duration: 2s;"></i>
    <a href="https://github.com/Roob19" target="_blank">GitHub</a>
</br>
    <i class="fa-solid fa-sun fa-beat" style="--fa-animation-duration: 3s;"></i>
    <a href="https://replit.com/@REWB" target="_blank">Replit</a>
</br>
    <i class="fa-brands fa-codepen fa-beat" style="--fa-animation-duration: 4s;"></i>
    <a href="https://codepen.io/Ruben19" target="_blank">CodePen</a>

{% endblock %}